<div class="video-call-component container-fluid" style="width: 1200px; margin:auto">
  <div id="content" style="display: flex; flex-direction: row; padding:5px; align-content: space-between; margin: 3px;">
    <video width="200" height="200" id="localVideo" [muted]="true" muted="muted" autoplay playsinline style="margin-right: 10px;"></video>


  </div>

<!--  <h2>Il(s) participe(nt) également à l'appel</h2>-->
  <h3></h3>

  <!-- Bouton centré en bas -->
  <div class="button-container">
    <button class="action-button" (click)="releaseCall()">Quitter l'appel</button>
  </div>
</div>
